/*초기화*/
*{margin: 0; padding: 0; box-sizing: border-box;}
ul, li{list-style: none;}
a{text-decoration: none;}

figure{
  width: 100%;
  height: 100vh;
  min-height: 600px;
  overflow: hidden; /*밖으로 나가는 요소 가려줌*/
  position: relative;
  background: linear-gradient(25deg, violet, pink);
}
/*제목태그*/
figure h1{
  position: absolute;
  top: 7%;
  left: 4%;
  color: #fff;
  font-family: Arial;
}
figure h1 strong{
  font-size: 36px;
  line-height: 1.4;
  letter-spacing: 1px;
}
figure h1 span{
  font-size: 12px;
  opacity: 0.8;
  letter-spacing: 1px;
}