/*폰트*/

*{margin: 0; padding: 0;}
button{
  border: 0; 
  outline: 0; 
  background-color: 
  transparent; 
  cursor: pointer;
  font-size: 17px;
  color: #fff;
}

/*
  색상코드
  #522448 -> 보라에 가까운 자주색
  #79325a -> 진한 자주색
  #b54677 -> 연한 자주색
  #fe6798 -> 형광 분홍색
  #ff9ebc -> 연한 분홍색

*/

.content{
  width: 700px;
  height: 700px;
  margin: 0 auto;
  border: solid 6px #ccc;
}

/*계산기 전체 영역*/
.calculating-machine{
  background-color: #79325a;
  width: 350px;
  height: 500px;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px 20px;
  border: solid 6px #ffffff;
}
/*결과가 출력되는 영역*/
.result{
  background-color: #ff9ebc;
  height: 100px;
  width: 100%;
  border-radius: 10px;
  vertical-align: middle;
  text-align: right;
  margin-top: 10px;
  padding-right: 20px;
  padding-top: 25px;
  box-sizing: border-box;
  font-size: 30px;
}

.btns{
  background-color: #ffffff;
  width: 100%;
  height: 365px;
  margin-top: 10px;
  border-radius: 10px;
  font-size: 25px;
}
/* AC & Enter버튼요소 */
.button_clear_enter{
  text-align: center;
  height: 50px;
  margin: 10px;
  padding-top: 20px;
  border-radius: 10px;
  background-color: #ffffff;
}
.button_clear_enter button{
  border-radius: 10px;
  width: 125px;
  height: 50px;
  margin: 10px;
  background-color: #ff9ebc; 
  cursor: pointer;
  outline: none;
}

/*숫자와 연산기를 감싸고 있는 영역*/
.button_calculate{
  margin: 30px 0;
}

/*4개씩 감싸고 있는 버튼요소 -> 1줄*/
.button_row{
  border-radius: 10px;
  text-align: center;
  height: 50px;
  margin: 10px;
  background-color: #ffffff;
}

/*모든 버튼요소 크기설정*/
.button_row > button{
  width: 65px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  background-color: #79325a;
}
/*연산기호 버튼 색상변경*/
.button_row > button:last-child{
  background-color: #666;
}
/*0버튼 크기 설정*/
.button_row:nth-of-type(4) > button:nth-of-type(1){
  width: 135px;
}