/*초기화*/
*{margin: 0; padding: 0;}
ul, li{list-style: none;}
a{text-decoration: none; color: inherit;}
img {border: 0;}
body{max-width: 1910px;}

/*네비게이션 메뉴 영역*/
#menu{
  position: fixed;
  top: 0;
  right: 50px;
  z-index: 15;
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  gap: 30px;
  border: 1px solid red;  /*영역 확인용*/
}
#menu a{
  display: block;
  width: 100px;
  font-size: 20px;
  /*폰트색상*/
  overflow: hidden;
  transition: 0.6s;
  text-align: center;
}
/*마우스 이벤트 효과*/
#menu li.active a,
#menu li:hover a{
  font-size: 22px;
  border-bottom: 3px solid #fff;
}

/*-----------------------------------------*/
/*컨텐츠 레이아웃 설정*/
section{
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(45deg, #d6a4a4,#beccf5);
  overflow: hidden;
}

article{
  position: absolute;
  top: 25%;
  left: 25%;
}